@charset "utf-8";
@use "reset";
$font-Rounded1c: "M PLUS Rounded 1c", sans-serif;
$font-Interfamily: "Inter", sans-serif;
$font-Aleo: "Aleo", serif;

@mixin ComModalBGColor() {
	content: "";
	display: block;
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}
// VWのサイズ指定関数
@function vwSets($num) {
	@return calc(var(--vw1px) * #{$num});
}

html {
	font-size: 100%;
	position: relative;
}

body {
	--BaseUnit: 1px;
	--BaseRed: #e61e2b;
	--BaseBlue: #9ad7f9;
	--ComContentPaddingLR: calc(16 * var(--BaseUnit));
	position: relative;
	font-weight: 400;
	font-optical-sizing: auto;
	vertical-align: baseline;
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
	overflow-x: hidden;
	font-family: "M PLUS Rounded 1c", "Inter", sans-serif;

	@media screen and (min-width: 768px) {
		--vw1px: 0.06944444444444445vw;// 1440pxで算出
		--header-H: 118px;
		--ComWave-H: 14px;
		--BaseWaveBGSize: 3594px;
		font-size: 16px;
		.spOnly {
			display: none;
		}
	}
	@media screen and (max-width: 767px) {
		--vw1px: 0.2564102564102564vw;// 390pxで算出
		--header-H: calc(72 * var(--BaseUnit));
		--BaseWaveBGSize: 2330;
		--ComWave-H: 9;
		font-size: 14px;
		.pcOnly {
			display: none;
		}
	}
	@media screen and (max-width: 389px) {
		--BaseUnit: var(--vw1px);
	}
}

.isHidden {
	display: none!important;
}

@keyframes bgScrollX {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -1000px 0;
	}
}
@keyframes bgScrollXRe {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 1000px 0;
	}
}


// ====== 共通 モーダル 設定
// =========================================================================
.ComModalWrap {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	transition: all 0.5s ease;

	&:not(.is-open) {
		opacity: 0;
		visibility: hidden;
	}
	&.is-open {
		opacity: 1;
		visibility: visible;
	}

	.ComModalBg {
		background: rgba(0, 0, 0, 0.7);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
	}
}

// ====== 共通H2
// =========================================================================
.ComH2 {
	--ComH2-BGURL: url(../images/Wave-DecoRed.svg);
	--ComH2-FontC: var(--BaseRed);
	color: var(--ComH2-FontC);
	background: var(--ComH2-BGURL) no-repeat center bottom / auto var(--ComH2Deco-H);
	font-weight: 800;
	font-family: $font-Aleo;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 1;
	width: 100%;
	
	@media screen and (min-width: 768px) {
		font-size: 36px;
		--ComH2Deco-H: 8px;
		padding-bottom: calc(9px + var(--ComH2Deco-H));
		margin-bottom: 40px;
	}
	@media screen and (max-width: 767px) {
		font-size: calc(28 * var(--BaseUnit));
		--ComH2Deco-HNum: 7;
		--ComH2Deco-H: calc(var(--ComH2Deco-HNum) * var(--BaseUnit));
		padding-bottom: calc((6 + var(--ComH2Deco-HNum)) * var(--BaseUnit));
		margin-bottom: 40px;
	}
}
// ====== 共通ボタン Style
// =========================================================================
.ComBtnLayContainer {
	display: flex;
	justify-content: center;
	align-items: center;

	.ComBtnLay {
		--ComBtnLay-FontC: #fff;
		--ComBtnLay-BG: var(--BaseRed);
		background: var(--ComBtnLay-BG);
		border-radius: var(--ComBtnLay-H);
		color: var(--ComBtnLay-FontC);
		font-weight: 800;
		font-family: $font-Aleo;
		display: flex;
		justify-content: center;
		align-items: center;
		line-height: 1;
		height: var(--ComBtnLay-H);
		width: auto;
		transition: all .3s ease;
		
		@media (hover: hover) and (pointer: fine) {
			&:hover {
				opacity: .8;  
			}
		}
	}
	@media screen and (min-width: 768px) {
		.ComBtnLay {
			font-size: 24px;
			--ComBtnLay-H: 55px;
			padding: 0 32px;
		}
	}
	@media screen and (max-width: 767px) {
		.ComBtnLay {
			font-size: calc(22 * var(--BaseUnit));
			--ComBtnLay-H: calc(48 * var(--BaseUnit));
			padding: 0 calc(32 * var(--BaseUnit));
		}
	}
}

// ====== Header
// =========================================================================
header {
	background: url(../images/Wave-HeaderBG.svg) repeat-x center bottom / auto var(--header-H);
	animation: bgScrollX 35s linear infinite;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: var(--header-H);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;

	.hedaerContainer {
		display: flex;
		align-items: center;
		width: 100%;
		position: relative;
		max-width: 1440px;
	}

	.Menu-toggle {
		background: var(--BaseRed);
		display: flex;
		justify-content: center;
		align-items: center;
		justify-self: end;
		cursor: pointer;
		border-radius: var(--togglesize);
		height: var(--togglesize);
		width: var(--togglesize);
		z-index: 12;

		&.active {
			background: none;
			span {
				&:nth-child(1) {
					--deg: 45deg;
					--translateY: 0px;
				}
				&:nth-child(2) {
					opacity: 0;
				}
				&:nth-child(3) {
					--deg: 135deg;
					--translateY: 0px;
				}
			}
		}
		span {
			display: block;
			background: #fff;
			height: var(--height);
			border-radius: 2px;
			position: absolute;
			top: var(--top);
			left: 50%;
			transition: all 0.5s ease;
			display: block;
			--deg: 0;
			--translateX: -50%;
			transform: translateX(var(--translateX)) translateY(calc(var(--translateY))) rotate(var(--deg));
			
			&:nth-child(1) {
				--top: (50% + var(--arrangement));
				--translateY: var(--top) * -1;
			}
			&:nth-child(2) {
				--top: (50% - var(--height) / 2);
				--translateY: var(--top);
			}
			&:nth-child(3) {
				--top: (50% - (var(--arrangement) + var(--height)));
				--translateY: var(--top) * -1;
			}
		}
	}

	nav.NaviGlobal {
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 11;
		transition: all 0.4s ease-in-out;
		opacity: 0;
		&.active {
			opacity: 1;
		}
		
		&::after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: -1;
		}
		li {
			& + li {
				margin-top: 45px;
			}
		}
		
		a {
			--deco-H: 7px;
			background: url(../images/Wave-DecoW.svg) no-repeat center bottom / auto var(--deco-H);
			color: #fff;
			font-family: $font-Aleo;
			font-size: 28px;
			font-weight: 800;
			line-height: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			transition: all 0.3s ease-in-out;
			padding-bottom: calc(12px + var(--deco-H));

			@media (hover: hover) and (pointer: fine) {
				&:hover {
					opacity: 0.8;
				}
			}
		}
	}

	@media screen and (min-width: 768px) {
		padding: 0 24px 14px;
		.hedaerContainer {
			justify-content: space-between;
		}
		figure {
			padding-left: 8px;
			img {
				height: 34px;
			}
		}
		.Menu-toggle {
			--togglesize: 56px;
			position: relative;
			&.active {
				top: 41px;
				right: 41px;
				position: fixed;
				span {
					width: 37px;
				}
			}
			span {
				--height: 2.63px;
				width: 28px;
				--arrangement: 7px;
			}
		}
		nav.NaviGlobal {
			--Navi-W: 297px;
			bottom: 0;
			width: var(--Navi-W);
			transform: translateX(calc(var(--Navi-W) * 1));
			&.active {
				transform: translateX(0);
			}
			&::after {
				background: url(../images/Wave-NaviPCBG.svg) repeat-x left center / auto var(--BaseWaveBGSize);
			}
		}
	}
	@media screen and (max-width: 767px) {
		padding-bottom: calc(11 * var(--BaseUnit));
		.hedaerContainer {
			justify-content: center;
		}
		figure {
			img {
				height: calc(26 * var(--BaseUnit));
			}
		}
		.Menu-toggle {
			--togglesize: calc(36 * var(--BaseUnit));
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: calc(14 * var(--BaseUnit));

			&.active {
				span {
					width: calc(26.3 * var(--BaseUnit));
				}
			}
			span {
				--height: calc(1.69 * var(--BaseUnit));
				width: calc(19 * var(--BaseUnit));
				--arrangement: calc(4 * var(--BaseUnit));
			}
		}
		nav.NaviGlobal {
			width: 100%;
			padding: calc(104 * var(--BaseUnit)) var(--ComContentPaddingLR) calc(80 * var(--BaseUnit));
			transform: translateY(-100%);
			&.active {
				transform: translateY(0);
			}
			&::after {
				background: url(../images/Wave-FooterBG.svg) repeat-x center top / 2300px auto;
				transform: rotate(180deg);
			}
		}

	}
}


// ====== KV
// =========================================================================
.Section-KV {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: calc(var(--header-H) + var(--KV-PTB)) var(--ComContentPaddingLR) var(--KV-PTB);
	min-height: calc(100dvh - (var(--ComWave-H) * 2 * var(--BaseUnit)));

	@media screen and (min-width: 768px) {
		--KV-PTB: 160px;
		h1 {
			width: 326px;
		}
	}
	@media screen and (max-width: 767px) {
		--KV-PTB: 90px;
		h1 {
			width: calc(195.95 * var(--BaseUnit));
		}
	}
}

// ====== Catchphrase
// =========================================================================
$NewsPartnerContainerDecoPC-H: 14px;
$NewsPartnerContainerDecoSP-H: 10;
.Section-Catchphrase {
	background: url(../images/Catch-BG.jpg) repeat-x center top / cover;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	padding: var(--Catchphrase-PT) var(--ComContentPaddingLR) var(--Catchphrase-PB);
	position: relative;
	text-align: center;
	z-index: 1;

	&::before {
		background: url(../images/Wave-WhiteBG.svg) repeat-x center top / auto 100%;
		content: "";
		animation: bgScrollX 35s linear infinite;
		position: absolute;
		top: -1px;
		left: 0;
		right: 0;
		z-index: 2;
	}
	h2 {
		font-weight: 800;
	}
	& > p {
		font-weight: 800;
		line-height: 2;
	}

	@media screen and (min-width: 768px) {
		--Catchphrase-PT: calc(120px + #{$NewsPartnerContainerDecoPC-H});
		--Catchphrase-PB: var(--Catchphrase-PT);
		&::before {
			height: var(--ComWave-H);
		}
		h2 {
			font-size: 32px;
		}
		& > p {
			font-size: 20px;
			margin-top: 33px;
		}
	}
	@media screen and (max-width: 767px) {
		--Catchphrase-PTNum: 112;
		--Catchphrase-PT: calc(var(--Catchphrase-PTNum) * var(--BaseUnit));
		--Catchphrase-PB: calc((var(--Catchphrase-PTNum) + #{$NewsPartnerContainerDecoSP-H}) * var(--BaseUnit));
		&::before {
			height: calc(var(--ComWave-H) * var(--BaseUnit));
		}
		h2 {
			font-size: calc(24 * var(--BaseUnit));
		}
		& > p {
			font-size: calc(16 * var(--BaseUnit));
			margin-top: calc(40 * var(--BaseUnit));
		}
	}
}

// ====== News ＋ PARTNER Container
// =========================================================================
.NewsPartnerContainer {
	background: url(../images/Wave-BlueBG.svg) repeat-x center top / var(--NewsPartnerContainerBG-W) auto;
	animation: bgScrollX 35s linear infinite;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 100%;
	margin-top: var(--NewsPartnerContainer-MT);
	position: relative;
	z-index: 2;
	padding: var(--NewsPartnerContainer-PT) var(--ComContentPaddingLR) var(--NewsPartnerContainer-PB);

	&::after {
		background: url(../images/Wave-WhiteBG.svg) repeat-x center top / auto 100%;
		content: "";
		animation: bgScrollXRe 35s linear infinite;
		position: absolute;
		bottom: -1px;
		left: 0;
		right: 0;
		z-index: 2;
		transform: rotate(180deg);
	}

	@media screen and (min-width: 768px) {
		--NewsPartnerContainer-MT: calc(#{$NewsPartnerContainerDecoPC-H} * -1);
		--NewsPartnerContainerBG-W: var(--BaseWaveBGSize);
		--NewsPartnerContainer-PT: 120px;
		--NewsPartnerContainer-PB: 201px;
		margin-top: calc(#{$NewsPartnerContainerDecoPC-H} * -1);
		&::after {
			height: var(--ComWave-H);
		}
	}
	@media screen and (max-width: 767px) {
		--NewsPartnerContainer-MT: calc(#{$NewsPartnerContainerDecoSP-H} * var(--BaseUnit) * -1);
		--NewsPartnerContainer-PT: calc(112 * var(--BaseUnit));
		--NewsPartnerContainer-PB: calc(162 * var(--BaseUnit));
		--NewsPartnerContainerBG-W: calc(var(--BaseWaveBGSize) * var(--BaseUnit));
		&::after {
			height: calc(var(--ComWave-H) * var(--BaseUnit));
		}
	}
}


// ====== NEWS
// =========================================================================
.Section-NEWS {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 100%;
	position: relative;

	.NewsListContainer {
		justify-content: center;
		width: 100%;
		max-width: 1228px;
		
		li {
			display: flex;
			flex-flow: column nowrap;
			align-items: center;
			transition: all 0.3s ease;
			
			@media (hover: hover) and (pointer: fine) {
				&:hover {
					cursor: pointer;
					transform: translateY(-10px);
				}
			}
			
			time {
				text-align: left;
				width: 100%;
				line-height: 1;
			}
			h3 {
				font-weight: 800;
				text-align: left;
				width: 100%;
			}
		}

		.NewsKV {
			mask-image: url(../images/News-MaskBG.svg);
			mask-size: 100% auto;
			-webkit-mask-image: url(../images/News-MaskBG.svg);
			-webkit-mask-size: 100% auto;
			position: relative;
			padding: 2px;

			&::before {
				background: url(../images/News-MaskFrame.svg) no-repeat center center / 100% 100%;
				content: "";
				position: absolute;
				--posi: 0px;
				top: var(--posi);
				left: var(--posi);
				right: var(--posi);
				bottom: var(--posi);
				z-index: 2;
			}
		}
		.js-ModalParts {
			display: none;
		}
	}

	@media screen and (min-width: 768px) {
		.NewsListContainer {
			display: grid;
			grid-auto-flow: column;
			grid-template-columns: repeat(5, auto);
			gap: 0 32px;

			li {
				font-size: 16px;
				&:nth-of-type(even) {
					margin-top: 32px;
				}
				time {
					margin-top: 16px;
				}
				h3 {
					margin-top: 8px;
				}
			}
		}
		.ComBtnLayContainer {
			margin-top: 40px;
		}
	}
	@media screen and (max-width: 767px) {
		.NewsListContainer {
			display: flex;
			flex-flow: row wrap;

			li {
				--NewsListContainerLI-ML: 16;
				--NewsListContainerLI-MT: 24;
				font-size: calc(14 * var(--BaseUnit));
				width: calc((100% - var(--NewsListContainerLI-ML) * var(--BaseUnit)) / 2);
				&:last-of-type {
					display: none;
				}
				&:nth-of-type(even) {
					margin-left: calc(var(--NewsListContainerLI-ML) * var(--BaseUnit));
					padding-top: calc(var(--NewsListContainerLI-MT) * var(--BaseUnit));
				}
				&:nth-of-type(n + 3) {
					margin-top: calc(var(--NewsListContainerLI-MT) * var(--BaseUnit));
				}

				time {
					margin-top: calc(16 * var(--BaseUnit));
				}
				h3 {
					margin-top: calc(6 * var(--BaseUnit));
				}
			}
		}

		.ComBtnLayContainer {
			margin-top: calc(32 * var(--BaseUnit));
		}
	}
}

// ====== News モーダル
// =========================================================================
.NewsModalWrap {
	color: #565656;
	.NewsModalContent {
		border-radius: 24px;
		background: #fff;
		color: #565656;
		display: flex;
		flex-flow: column nowrap;
		max-height: 100%;
		max-width: 1043px;
		height: auto;
		width: 100%;
		padding: var(--NewsModalContent-PTB) var(--NewsModalContent-PLR);
		overflow: hidden;
		position: relative;

		.NewsModalArticle {
			font-weight: bold;
			display: flex;
			flex-flow: column;
			min-height: 0;
			height: 100%;
			flex: 1;
			position: relative;
		}

		.NewsModalArticleWrap {
			flex: 1;
			display: flex;
			flex-flow: column;
			min-height: 0;
			overflow-y: auto;
			position: relative;
		}
		
		.NewsModalHeader {
			.NewsModalKV {
				width: 100%;
				img {
					width: 100%;
				}
			}
			h2 {
				color: var(--BaseRed);
				font-weight: 800;
			}
			time {
				color: var(--BaseRed);
				line-height: 1;
			}
		}

		.NewsModalMain {
			p {
				& + P {
					margin-top: 1em;
				}
			}
		}

		.ModalLinks {
			border-radius: 10px;
			background: var(--BaseBlue);
			width: 100%;
			padding: 16px;
			color: #000;

			a {
				color: #000;
				text-decoration: underline;
				transition: all 0.3s ease;
			}
		}

		@media (hover: hover) and (pointer: fine) {
			.ModalLinks a:hover {
				opacity: 0.8;
			}
			.comScrollbar:not(.is-x) {
				--comScrollbar-PosiR: -10px;
				--comScrollbar-BG: #fff;
			}
			.comScrollbar-Thumb {
				// --comScrollbarThumb-BG: var(--BaseRed);
			}
		}
	}

	@media screen and (min-width: 768px) {
		padding: 32px 24px;
		.NewsModalContent {
			--NewsModalContent-PTB: 56px;
			--NewsModalContent-PLR: 72px;
			.NewsModalArticle {
				margin-bottom: 48px;
			}
			.NewsModalHeader {
				margin-bottom: 48px;
				.NewsModalKV {
					margin-bottom: 48px;
				}
				time {
					font-size: 16px;
				}
				h2 {
					font-size: 32px;
					margin-top: 4px;
				}
			}

			.NewsModalMain {
				& > p {
					font-size: 20px;
				}
			}
			.ModalLinks {
				font-size: 16px;
				margin-top: 48px;
			}
			.ComBtnLay {
				--ComBtnLay-H: 61px;
			}
		}
	}
	@media screen and (max-width: 767px) {
		padding: 32px 24px;
		.NewsModalContent {
			--NewsModalContent-PTB: 32px;
			--NewsModalContent-PLR: 24px;
			.NewsModalArticle {
				margin-bottom: calc(32 * var(--BaseUnit));
			}
			.NewsModalHeader {
				margin-bottom: calc(32 * var(--BaseUnit));
				.NewsModalKV {
					margin-bottom: calc(32 * var(--BaseUnit));
				}
				time {
					font-size: calc(14 * var(--BaseUnit));
				}
				h2 {
					font-size: calc(16 * var(--BaseUnit));
					margin-top: calc(6 * var(--BaseUnit));
				}
			}

			.NewsModalMain {
				& > p {
					font-size: calc(14 * var(--BaseUnit));
				}
			}
			.ModalLinks {
				font-size: calc(14 * var(--BaseUnit));
				margin-top: calc(32 * var(--BaseUnit));
			}
			
		}
	}
}

// ====== PARTNER
// =========================================================================

.Section-PARTNER {
	background: #fff;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	max-width: 772px;
	width: 100%;
	position: relative;

	.PartnerListContainer {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		li {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			img {
				width: 100%;
			}

			a {
				cursor: pointer;
				display: block;
				width: 100%;
				line-height: 1;
				transition: all .3s ease;
				@media (hover: hover) and (pointer: fine) {
					&:hover {
						transform: translateY(-10px);
					}
				}
			}
		}
	}

	@media screen and (min-width: 768px) {
		border-radius: 32px;
		margin-top: 120px;
		padding: 64px;
		.PartnerListContainer {
			flex-flow: row nowrap;
			li {
				max-width: 240px;

				&:nth-of-type(even) {
					margin-left: 36px;
				}
			}
		}
	}
	@media screen and (max-width: 767px) {
		border-radius: 24px;
		margin-top: calc(112 * var(--BaseUnit));
		padding: calc(40 * var(--BaseUnit));
		.PartnerListContainer {
			flex-flow: column nowrap;
			li {
				max-width: calc(200 * var(--BaseUnit));

				& + li {
					margin-top: calc(24 * var(--BaseUnit));
				}
			}
		}
	}
}


// ====== 共通 無限スクロールリスト（Marquee）
// =========================================================================
.MarqueeContainer {
	overflow: hidden;
	width: 100%;
	position: relative;
	z-index: 3;
	display: flex;
	flex-flow: column nowrap;

	&::after {
		background: url(../images/img-scroll.svg) repeat-x center center / auto 100%;
		content: "";
		display: flex;
		width: 100%;
		animation: bgScrollX 35s linear infinite;
	}
	
	.Marquee-track {
		display: flex;
		width: max-content;
		will-change: transform;
		animation: marquee var(--marquee-duration, 30s) linear infinite;
		
		li {
			flex: 0 0 auto;
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border: var(--marquee-item-Border) solid #fff;
				border-radius: 8px;
				overflow: hidden;
			}
		}
	}
	@media screen and (min-width: 768px) {
		margin-top: -81px;
		&::after {
			margin-top: 120px;
			padding-top: 30%;
		}
		.Marquee-track {
			--marquee-item-Border: 6px;
			li {
				height: 166.89px;
				& + li {
					margin-left: 8px;
				}
			}
		}
	}
	@media screen and (max-width: 767px) {
		margin-top: calc(-50 * var(--BaseUnit));
		&::after {
			margin-top: calc(64 * var(--BaseUnit));
			padding-top: 44.6%;
		}
		.Marquee-track {
			--marquee-item-Border: 4px;
			li {
				height: calc(111.06 * var(--BaseUnit));
				& + li {
					margin-left: calc(5 * var(--BaseUnit));
				}
			}
		}
	}
}


@keyframes marquee {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(calc(-1 * var(--marquee-distance, 0px)));
	}
}

@media (prefers-reduced-motion: reduce) {
	.Marquee-track {
		animation: none;
	}
}

// ====== Footer
// =========================================================================
footer {
	background: url(../images/Wave-FooterBG.svg) repeat-x center top / var(--FooterBG-W) auto;
	animation: bgScrollX 35s linear infinite;
	color: #fff;
	display: flex;
	flex-flow: column;
	padding: var(--Footer-PT) 0 0;
	margin-top: var(--Footer-PT);
	width: 100%;
	.ComH2 {
		--ComH2-BGURL: url(../images/Wave-DecoW.svg);
		--ComH2-FontC: #fff;
	}

	.ContactContainer {
		margin-bottom: var(--Footer-PT);
		padding: 0 var(--ComContentPaddingLR);
		text-align: center;

		& > p {
			font-weight: 800;
			font-size: 24px;
		}

		.ComBtnLay {
			--ComBtnLay-FontC: var(--BaseRed);
			--ComBtnLay-BG: #fff;
			margin-top: 40px;
		}
	}
	.copyright {
		background: #000;
		display: flex;
		justify-content: center;
		align-items: center;
		line-height: 1;
		font-family: $font-Interfamily;
		font-weight: 300;
	}

	@media screen and (min-width: 768px) {
		--FooterBG-W: var(--BaseWaveBGSize);
		--Footer-PT: 120px;
		.ContactContainer {
			& > p {
				font-size: 24px;
			}

			.ComBtnLay {
				margin-top: 40px;
			}
		}
		.copyright {
			font-size: 16px;
			padding: 32px var(--ComContentPaddingLR);
		}
	}
	@media screen and (max-width: 767px) {
		--FooterBG-W: calc(var(--BaseWaveBGSize) * var(--BaseUnit));
		--Footer-PT: calc(64 * var(--BaseUnit));
		.ContactContainer {
			& > p {
				font-size: calc(16 * var(--BaseUnit));
			}

			.ComBtnLay {
				margin-top: calc(32 * var(--BaseUnit));
			}
		}
		.copyright {
			font-size: calc(14 * var(--BaseUnit));
			padding: calc(16 * var(--BaseUnit)) var(--ComContentPaddingLR);
		}
	}
}